.butt {
	border-radius: 28px;
	font-family: Arial;
	color: #000;
	font-size: 20px;
	background: #fff;
	padding: 1px 6px 1px 6px;
	text-decoration: none;
	margin-left:10px;
}

#nameButton {
	padding: 5px 10px 5px 10px;
}

textarea:focus, button:focus, input:focus{
    outline: none;
}

.butt:hover:enabled {
	background: #3cb0fd;
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.butt:disabled {
	background: rgba(220,220,220, 0.3);
}

#headingDiv {
	width:50vw;
	text-align: center;
}

#exitButton {
	display: inline;
	right: 10px;
	top: 10px;
	position: absolute;
	border-radius: 100%;
}

#addFriendText {
	color: black;
	position: relative;
	transform: translate(0, 55%);
	width: 50%;
	border-radius: 5px;
	margin-left: 0px;
}

#friendsHeading {
	color: white;
	position:relative;
	top:10px;
	font-family: sans-serif;
	margin-bottom: 0;
	display: inline;
}

#addFriendButton {
	margin-right: 5px;
	margin-left: 0px;
	padding: 5px 10px 5px 10px;
	position: relative;
	transform: translate(0, 45%);
}

#friendsDiv {
	display: inline-block;
	position: relative;
	width: 20vw;
	height: 70%;
	top: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 0;
	padding-right: 0;
	text-align: center;
}

#friendsHeadingDiv {
	height: 15%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: table;
	border-radius: 30px 30px 0 0;
}

#friendsText {
	display: table-cell; 
	vertical-align: middle;
	color: white;
	font-family:sans-serif;
	margin: 0;
}

#friendsList {
	height: 85%;
	width: 100%;
	overflow: scroll;
	background: rgba(0, 0, 75, 0.3);
	border-radius: 0 0 30px 30px;
}

#addFriendDiv {
	display: inline-block;
	margin-right: 0;
	padding-right: 0;
	position: relative;
	width: 20vw;
	top: 5%;
	margin-left: 2%;
	text-align: center;
}

#addFriendHeaderDiv {
	background: rgba(0, 0, 0, 0.4);
	height: 6vh;
	border-radius: 20px 20px 0 0;
}

#addFriendContentDiv {
	width: 100%;
	height: 8vh;
	background: rgba(0, 0, 75, 0.3);
	
	border-radius: 0 0 20px 20px;
}

#nameDiv {
	width: 50%;
	padding: 24px;
	position: relative;
	background-color: #293350;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#chatDiv {
	position: relative;
	display: inline-block;
	width: 25vw;
	height: 70%;
	top: 3%;
	text-align: center;
	left: 4%; 
	margin-top: 2%;
	margin-bottom: 2%;
}

#chatHeadDiv {
	height: 15%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: table;
	border-radius: 30px 30px 0 0;
}

#chatHeadText {
	display: table-cell; 
	vertical-align: middle;
	color: white;
	font-family:sans-serif;
	margin: 0;
}

#chatContentDiv {
	height: 70%;
	width: 100%;
	overflow: scroll;
	background: rgba(0, 0, 75, 0.3);
	text-align: left;
}

#chatContentDiv p {
	font-size: medium;
	width: 100%;
	padding: 10px;
	margin: 0;
	word-wrap: break-word;
}

#chatFooter {
	height: 15%;
	width: 100%;
	background: rgba(0, 0, 75, 0.3);
	border-radius: 0 0 30px 30px;
}

#chatInput {
	border-radius: 10px;
	border: none;
	outline: none;
	width: 80%;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}

#FriendMenu {
	height:80vh;
	width:50vw;
	position:absolute;
	border-radius:5%;
	border:3px solid black;
	left:50%;
	transform:translate(-50%, 0);
	top:10%;
	zIndex:30;
	background: linear-gradient(to bottom, #304352, #525252);
	box-shadow:0px 0px 1px 5000px rgba(0,0,0,0.8);

}

#requestDiv {
	display: inline-block;
	position: relative;
	width: 25vw;
	top: 5%;
	left: 4%;
	text-align: center;
}

#requestsList {
	width: 100%;
	height: 8vh;
	overflow: scroll;
	text-align: left;
	background: rgba(0, 0, 75, 0.3);
	padding-top: 10px;
	border-radius: 0 0 20px 20px;
}


#requestHeadDiv {
	background: rgba(0, 0, 0, 0.4);
	height: 6vh;
	border-radius: 20px 20px 0 0;
}

#nameField {
	position:relative;
	top:60%;
	font-size:20px;
	color:black;
	border-radius: 5px;
	padding-left: 10px;
}

#namePrompt {
	color:#E6E6FA;
	font-family:sans-serif;
	position:relative;
	top:10%
}

#FriendMenu div {
	vertical-align: top;
}

#requestsList div {
	display: block;
	padding-left: 40px;
	padding-right: 30px;
}

.inlineBlock {
	display: inline-block;
}

.inlineItem {
	display: inline;
}

#spacerDiv {
	display: block;
}

.friendSelected {
	background: rgba(0, 0, 100, 0.5) !important;
}

.userSentMsg {
	background: rgba(255, 255, 255, 0.04) !important;
}

#friendsList p {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

#friendsList p:nth-child(even){
	background: rgba(255, 255, 255, 0.04);
}

#allUsersButton {
	margin-right: 20px;
	margin-left: 0px;
	padding: 2px 6px 2px 6px;
	position: relative;
	border-radius: 5px;
	float:right;
	transform: translate(0, 45%);
}

#allUsersDiv {
	position: absolute;
	border-radius: 20px;
	left: 2%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:32%;
	height: 60%;
	width: 35%;
	background: rgba(0,0, 50, 1.0);
	border: 5px solid #1f2931;
}

#allUsersHeadingDiv {
	background-color: #1f2931;
	width: 100%;
	height: 10%;
	text-align: center;
}

#allUsersContentDiv{
	overflow: scroll;
	height: 90%;
}

#allUsersDiv div {
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
}

#allUsersDiv div:nth-child(even) {
	background: rgba(255,255,255, 0.05);
}

#allUsersDiv div p {
	margin-left:10px;
	font-family:sans-serif;
}

#allUsersDiv div button {
	float: right;
	margin-right:10px;
}